* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,
table tr,
table td {
  border-collapse: collapse;
  border: 1px solid lightseagreen;

}

.wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 84, 84, 0.6);
  /* opacity: 0.6; */
  z-index: 0;
}

.modal_content {
  background: #fff;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%,-50%);
  opacity: 1;
  z-index: 10;
}
/* .photo_box {
  flex: 1;
  /* background-image: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url(../img/moritaka_img14.png);
  background-size: cover; */
/* } */ 

/* .photo_box img {
  width: 100%;
  object-fit: cover;
} */

.cal_wrapper {
  width: fit-content;
  /* margin: 0 auto; */
  background-image: linear-gradient(to top, rgba(217, 175, 217, 0.5) 0%, rgba(151, 217, 225, 0.5) 100%), url(../img/moritaka_img07.png);
  background-size: cover;
}

.cal_wrapper h1 {
  text-align: center;
  color: red;
  text-shadow:
    1px 1px #fff;
}

.cal_wrapper h1>span {
  font-size: 0.7em;
}


.cal_container {
  width: fit-content;
  margin: 0 auto;
}

/* #prev {
  vertical-align: bottom;
} */

#prev img {
  vertical-align: middle;
}

.month_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day_of_week {
  width: 60px;
  height: 20px;
  border: 1px solid lightseagreen;
}

.date_box {
  width: 60px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

table td:hover {
  transform: scale(1.03);
}

table td:nth-child(6) {
  color: blue;
}

table td:nth-child(7) {
  color: red;
}

.day_box {
  font-size: 0.8em;
  width: 100%;
  height: 20%;
}

.today {
  font-weight: bold;
}

.memo_box {
  flex: 1;
  width: 100%;
}

.isdisabled {
  background: rgb(240, 239, 239);
  opacity: 0.3;
}

/* モーダルコンテント */
.modal_content {
  width: 300px;
  margin: 0 auto;
}

.modal_content>p {
  text-align: center;
}

#title,
#place {
  display: block;
}